<!DOCTYPE html>
<html>
    <head>
        <!-- Required styles for Material Web -->
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        {% assets "scss_all" %}
            <link rel=stylesheet type=text/css href="static/css/style.css">
        {% endassets %}
            
        
        <title>
            {% block title %} {% endblock %}
        </title>
    </head>
    <body>
        <h1>
            Base Template
        </h1>
        {% block content %}{% endblock %}
    </body>
</html>